{% extends 'base.html.twig' %}

{% block title %}Modification de la date de L'étude{% endblock %}

{% block body %}
<h1>Indiquer la date</h1>
{% if app.user %}
 {% if error_update == true %}
  Veuillez indiquer une date valide
 {% endif %}

 {{ form_start(form) }}
 {{ form_row(form.dateetude) }}
 <br>
 <button type="submit" class="btn btn-success">Confirmer </button>    
 {{ form_end(form) }} 
{% else %}

<a>Veuillez d'abord vous connectez sur un compte valide </a>
<a>Pour accéder au contenu des études </a>

{% endif %}


{% endblock %}